
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-image: url(imagenes/pexels-photo-1366919.jpeg);
  color: #2c3e50;
  line-height: 1.6;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}


header {
  
  color: #000000;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 40px;
}

header h1 {
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

header p {
  font-size: 1.2rem;
  font-weight: 300;
  font-style: italic;
}


.contenido {
  max-width: 900px;
  margin: 0 auto 50px;
  padding: 0 10px;
}


.contenido h2 {
  font-size: 1.8rem;
  color: #2c3e50;
  margin-bottom: 15px;
  padding-left: 12px;
  margin-top: 45px;
}

.contenido ul {
  list-style: disc inside;
  color: #4a5a6a;
  font-size: 1.1rem;
  margin-bottom: 35px;
  max-width: 720px;
}

.contenido p {
  font-size: 1.1rem;

  max-width: 720px;
  margin-bottom: 30px;
}


.galeria {
  display: flex;
  justify-content: center;
  gap: 18px;
  flex-wrap: wrap;
  margin-bottom: 45px;
}

.galeria img {
  width: 30%;
  border-radius: 12px;
 
  cursor: pointer;
  transition: transform 0.25s ease;
}

.galeria img:hover {
  transform: scale(1.07);
}






.contenido h3 {
  margin-top: 50px;
  margin-bottom: 12px;
  color: #2c3e50;
  font-size: 1.5rem;
}

.contenido p a {
  color: #2980b9;
  text-decoration: none;
  font-weight: 600;
}

.contenido p a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 16px 10px;
  font-size: 0.9rem;
  color: #0004ff;

  user-select: none;
  margin-top: auto;
}

