/* Estilos generales */
body {
background-image: url(imagenes/1_5846.jpg);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
 
  background-repeat: no-repeat;
  background-size: cover;        
  background-position: center;   
  background-attachment: fixed; 
  color: #ffffff;
}


nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #ffffff;
  text-decoration: underline;
}

main {
  padding: 40px 20px;
  max-width: 800px;
  margin: auto;
  border-radius: 10px;
  
}

.nosotros h2 {
  color: #ffffff;
  margin-top: 30px;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}
